[submodule "mycology"]
	path = mycology
	url = https://github.com/Deewiant/Mycology
[submodule "spec"]
	path = spec
	url = https://github.com/catseye/Funge-98
[submodule "lib/spoon"]
	path = lib/spoon
	url = https://git.sr.ht/~leon_plickat/zig-spoon
